#upper {
  display: flex;
  align-items: flex-end;
  height: 30vh;
  width: 80vw;
  flex-direction: row;
  border: 2px solid black;

}

iframe {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #282C34;
}

h3 {
  margin: 2vh;
}

h4 {
  margin: 0;
  font-weight: 400;
}

p {
  background-color: blueviolet;
}

a {
  color: plum
}

img {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 9vw;
  margin-bottom: 22vh;
}